version: '3.7'
services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      # This environment variable tells the OpenTelemetry SDK where to send the traces.
      # The hostname 'jaeger' is resolved by Docker's DNS.
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
      # This sets the name of the service that will appear in Jaeger.
      - OTEL_SERVICE_NAME=my-flask-app

  jaeger:
    image: jaegertracing/all-in-one:1.28
    ports:
      # Port for the Jaeger UI
      - "16686:16686"
      # Port for the OTLP gRPC receiver
      - "4317:4317"
